:root {
    --charcoal:#373F51;
    --blue:#008DD5;
    --dogwood:#DFBBB1;
    --pink:#F56476;
    --cerise:#E43F6F;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display:grid;
    height: 100vh;
    grid-template-rows: 30% 30% 40%;
}

.top {
    background-color: var(--blue);
}

.bottom {
    background-color: var(--pink);
}

.main-container {
    background-color: var(--dogwood);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    text-align: center;
}

h1 {
    font-family: "Molle","Pacifico", cursive, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-style:italic;
    font-weight:400;
}

h3 {
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
    color:var(--charcoal)
}

.text-insert {
    display: flex;
    align-items: center;
    gap:10px;
}

input[type="text"] {
    width:200px;
    height:3rem;
    font-size: 1.3rem;
    padding-left: 5px;
}

#checker {
    height:3rem;
    font-size: 1.3rem;
}

/* Alert System by Alvaro: https://codepen.io/alvarotrigo/pen/BaVBpYj */
.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
  visibility:hidden;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display:none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

.success {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
}

.error {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}